<div ng-controller='controller_sponsor_dashboard'>
<link rel="icon" type="image/gif/png" href="lib/assets/img/logo_logo.png">
	<link href="../lib/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="../lib/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../lib/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../lib/assets/css/animate.min.css" rel="stylesheet" />
	<link href="../lib/assets/css/style.min.css" rel="stylesheet" />
	<link href="../lib/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="../lib/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="../lib/assets/css/custom_style.css" rel="stylesheet"/>
	
	<link href="../lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
	<link href="../lib/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="../lib/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="../lib/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	<script src="../lib/assets/plugins/pace/pace.min.js"></script>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a ui-sref="sponsor_dashboard" class="navbar-brand"><img src="../lib/assets/img/logo_logo.png" height="60" width="100" alt="" class="img_logo"/></a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>					
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="../lib/assets/img/admin1.png" alt="" /> 
							<span class="hidden-xs">{{login_object.user_name}}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
						    <li class="arrow"></li>
							<li><a href="editing_center_user_Details.html">Profile</a></li>
							<li><a href="index.html">Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div id="sidebar" class="sidebar">
			<div data-scrollbar="true" data-height="100%">
				<ul class="nav">
					<li class="nav-profile">
						<div class="info">
							SPONSOR
							<small></small>
						</div>
					</li>
				</ul>
				<ul class="nav">
					<li class="has-sub"> 
						<a href="/#/sponsor_dashboard" class="active1">
						    <i class="fa fa-laptop"></i>
						    <span>Dashboard</span>
					    </a>
					</li>					
					<li class="has-sub">
						<a href="/#/sponsor_videos"><i class="fa fa-video-camera"></i>
						    <span>Videos</span>
						</a>
					</li>
					
					<li class="has-sub">
					<a href="/#/sponsor_upload_logo"><i class="fa fa-upload" aria-hidden="true"></i>
						    <span>Upload Logo</span>
					</a>
					</li>
					<li class="has-sub">
					<a href="/#/sponsor_upload_advertisement"><i class="fa fa-upload" aria-hidden="true"></i>
						    <span>Upload Advertisement</span>
					</a>
					</li>
					<li class="has-sub">
					<a href="/#/sponsor_upload_document"><i class="fa fa-upload" aria-hidden="true"></i>
						    <span>Upload Document</span>
					</a>
					</li>	
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="sidebar-bg"></div>
		<div id="content" class="content">
			<ol class="breadcrumb pull-right">
				<li><a href="dashboard.html">Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
			<h1 class="page-header custom_color">Dashboard <!-- <small>header small text goes here...</small> --></h1>
		  	<hr/>
			<div class="panel panel-inverse clearfix" data-sortable-id="table-basic-5">
			<div class="panel-heading">
                           <div class="panel-heading-btn">
                               <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                              
                           </div>
                           <h4 class="panel-title">Uploaded Videos</h4>
                        </div>
<!-- 			<pre>{{video_data | json}}</pre> -->
			<div class="row">
		<div id="gallery1" class="gallery">
                <div ng-repeat="each_video in video_data" class="image gallery-group-1 pull-left video_size">
	                    <div class="image-inner">
	                        
							 <video width="300" height="195" class="responsive" controls>							
								<source src="{{each_video.video_url}}" type="video/mp4">
							 </video>                      	
	                    </div>
						<br>
                    <center>
	                    <button 
	                    	style="margin: 5px" 
	                    	class="btn btn-primary btn-sm"
	                    	ng-disabled="each_video.video_status == 1"  ng-click="addToCart(each_video)"
	                    >Approve Video
	                    </button>
	                    <button 
	                    	class="btn btn-warning btn-sm"
	                    	ng-disabled="each_video.video_status == 2"  ng-click="addToCart1(each_video)"
	                    >Disapprove Video
	                    </button>
                    </center>
						<br/>
						<br/>
	                    <div class="image-info">
	                        <h5 class="title">{{each_video.video_name}}</h5>
	                        <div class="pull-right"> 
	                        </div>                        
	                        <div class="desc">
	                            {{each_video.video_description}}
	                        </div>
							<a ui-sref="tag_center_tagvideo_form({ video_object: each_video})" id="tagVideo"><button type="button"  class="btn btn-primary btn-sm btn-block">Tag video</button></a>
	                    </div>
					</div>
          </div>
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	</div>
	<script src="../lib/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="../lib/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../lib/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="../lib/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../lib/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../lib/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<script src="../lib/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="../lib/assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="../lib/assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="../lib/assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="../lib/assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../lib/assets/plugins/sparkline/jquery.sparkline.js"></script>
	<script src="../lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../lib/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="../lib/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../lib/assets/js/dashboard.min.js"></script>
	<script src="../lib/assets/js/apps.min.js"></script>
	
	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53034621-1', 'auto');
      ga('send', 'pageview');
    </script>
	
</div>